@model SolicitacaoDeMateriais.ViewModels.RequestProductServiceViewModel


<div class="container p-5">

    <form asp-controller="RequestProductService" asp-action="Create" method="post">

        <div class="mb-3">
            <a class="bi bi-arrow-bar-left" style="font-size:40px; color:blue" asp-controller="RequestProductService" asp-action="Index" role="button"></a>
        </div>

        <div class="row mb-3 g-5">
            <div class="form-header">
                <div class="title">
                    <h1>Solicitar Serviço</h1>
                </div>
            </div>
        </div>

        <div class="row mb-3 g-5">

            <div class="col-4 mb-2">
                <label for="DepartmentId" class="col-form-label col-form-label-lg">Serviço</label>
                <select id="service" class="form-select" asp-for="ServiceId" asp-items="@(new SelectList(ViewBag.service, "Id", "Name" ))" required><option></option></select>
            </div>

            <div class="col-4 mb-2">
                <label for="DepartmentId" class="col-form-label col-form-label-lg">Usuário Solicitante</label>
                <select id="user" class="form-select" asp-for="UserId" asp-items="@(new SelectList(ViewBag.user, "Id", "Name" ))" required><option></option></select>
            </div>

            <div class="col-4 mb-2">
                <label for="DepartmentId" class="col-form-label col-form-label-lg">Departamento Solicitante</label>
                <select id="department" class="form-select" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.department, "Id", "Name" ))" required><option></option></select>
            </div>

            <div class=" form-floating">
                <textarea class="form-control" type="text" asp-for="Observation" class="form-control" placeholder="Digite a Observação do Serviço Solicitado" id="floatingTextarea2" style="height: 100px"></textarea>
                <label class="mx-4" for="floatingTextarea2">Observação</label>
            </div>

            <div>
                <button type="submit" class="btn btn-md btn-primary">Adicionar</button>
            </div>

        </div>

    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        (() => {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })

        $(document).ready(function () {
            $('#department', '#user', '#service').select2({
                placeholder: "Seleciona uma Opção",
                allowClear: true
            });
        });

    </script>

}
